body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#mainDiv{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 80px;
    margin:0 auto;
    width: 100%;
    background-color: #f0f2f5;
}

/* Left Div */
#leftDiv{
    padding-right: 30px;
    width: 30%;
}

img{
    width: 100%;
    height: 100px;
    margin-left: -120px;
    padding-top: 110px;
}

#left-p{
    font-size: 30px;
    margin-top: 0%;
}

/* Right Div */
#rightDiv{
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 62vh;
}

/* Form */
form{
    background-color: white;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    margin: 40px 0 30px;
    padding: 20px 15px 5px 15px;
    width: 400px;
}

/* Class for form elements */

.form-c{
    border-radius: 6px;
    padding: 14px 16px;
    font-size: 17px;
    margin-bottom: 20px;
}

/* Textboxes */

form input{
    border: 1px solid #dddfe2; 
    width: 350px;
}

.form-h{
    margin-bottom: 20px;
}

#login-btn{
    background-color: #1877f2;
    color: white;
    border: 1px solid #1877f2;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
}

#new-acc-btn{
    background-color: #42B72A;
    color: white;
    width: 57%;
    border: 1px solid #42B72A;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
}

form hr{
    margin-top: 20px;
}
hr{
    height: 1px;
    border: none;
    background: #d5d5d5eb;
}

/* Links in form */

.form-a, .form-a::after{
    color: #1877f2;
    text-decoration: none;
    font-size:15px;
}

a:hover{
    text-decoration: underline;
}

/* End Form */

/* Link below form */

.right-a, .right-a::after{
    color: black;
    text-decoration: none;
}

#right-p{
    font-size: 14px;
}

/* Lower Section */

#lower-section{
    background-color: white;
    font-size: 13px;
    color: #737373;
    width: 100%;
}

#ls-container{
    margin: 0 20%;
    margin-top: 25px;
}

.ls-div{
    display: inline;
    padding-left: 0;
    padding-right: 10%;
}

#lower-section li{
    display: inline;
    padding-right: 10px;
}

#lower-section a:link, #lower-section a:visited{
    color: #737373;
    text-decoration: none;
}

ul{
    padding-inline-start: 0px;
    margin: 0;
}

#lower-section button{
    border: 1px solid #bbb5b5;
    border-radius: 2px;
}

#lower-section span{
    float: left;
    padding: 19px 0;
}

/* Media Query */

@media only screen and (max-width: 990px) {
    #mainDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 0px;
        margin:0 auto;
        width: 100%;
        text-align: center;
        height: 75vh;
    }
    #leftDiv{
        width: 100%;
    }
    img{
        margin-left: 0px;
        padding-top: 20px;
    }
    #left-p{
        font-size: 28px;
        margin: 0 auto;
        width: 60%;
    }
    form{
        margin:30px auto;
    }
    #ls-container{
        margin: 0 5%;
        margin-top: 30px;
    }
}