body{
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100px;
    justify-content: left;
}
#left-p{
    size: 28px;
}

.form-c{
    border-radius: 5px;
    padding: 14px 16px;
    width: 100%;
    font-size: 17px;
}