@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
  }

body{
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width: 100%;
    height: 100px;
    margin-left: -153px;
    padding-top: 110px;
}

#mainDiv{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 80px;
    margin:0 auto;
    width: 1000px;
}

#leftDiv{
    padding-right: 30px;
}

#left-p{
    font-size: 30px;
    margin-top: 0%;
}

#rightDiv{
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* form */
form{
    background-color: white;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    margin: 40px 0 0;
    padding: 20px 15px 5px 15px;
    width: 400px;
}

form input{
    border: 1px solid #dddfe2; 
    width: 350px;
}

.form-c{
    border-radius: 6px;
    padding: 14px 16px;
    font-size: 17px;
    margin-bottom: 20px;
}

.form-m{
    margin-bottom: 20px;
}

#login-btn{
    background-color: #1877f2;
    color: white;
    border: 1px solid #1877f2;
    font-size: 20px;
    font-weight: bold;
    width: 96%;
}

#new-acc-btn{
    background-color: #42B72A;
    color: white;
    width: 57%;
    border: 1px solid #42B72A;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
}

form hr{
    margin-top: 20px;
    color: #dadde1;
    
}

.form-a, .form-a::after{
    color: #1877f2;
    text-decoration: none;
}

.form-a:hover{
    text-decoration: underline;
}

/* End Form */

.right-a, .right-a::after{
    color: black;
    text-decoration: none;
}

.right-a:hover{
    text-decoration: underline;
}
#right-p{
    font-size: 14px;
}


/* Media Query */
@media only screen and (max-width: 768px) {
    #mainDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 0px;
        margin:0 auto;
        width: 100%;
        text-align: center;
    }
    img{
        margin-left: 0px;
        padding-top: 0px;
    }
    #left-p{
        font-size: 28px;
        margin-top: 0%;
        width: 60%;
        margin-left: 22%;
    }
    form{
        margin-top: 40px;
        margin:0 auto;
    }

}